@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

@import "tailwindcss";

@theme {
  /* ✅ Colors */
  --color-gray-20: #606573;
  --color-gray-500: #606573;
  --color-gray-200: #E0E1E5;

  --color-primary-600: #001C61;
  --color-primary-700: #001341;
  --color-primary-50: #ECF1FF;

  --color-secondary-400: #002581;
  --color-secondary-50: #F4FDF2;

  /* ✅ Fonts */
  --font-PlusJakartaSans: "Plus Jakarta Sans", sans-serif;
  /* --font-montserrat: "Montserrat", sans-serif; */

  /* ✅ Screens (custom breakpoints) */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1060px;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  @apply text-gray-500;
}
